# =====================================================================
#  Konfigurasi Environment Server Dedicated / Self-Hosted
# =====================================================================

# PostgreSQL database password
POSTGRES_PASSWORD=admin12345

# JWT Secret key for API validation
JWT_SECRET=super-secret-jwt-token-posyandu-6spm-key-village-lemahduwur

# MinIO storage access credentials
MINIO_ROOT_USER=admin_posyandu
MINIO_ROOT_PASSWORD=admin-storage-password-posyandu6spm
